{% extends 'app112/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
<!-- 3. Вывести список всех пользователей (for)-->
<!-- 5. Пронумеровать список заявителей, визуально выделить первую и последнюю записи -->
{% block content %}
    <!-- ФОРМА ПОИСКА ЗАЯВИТЕЛЕЙ -->
<div class="d-flex justify-content-center border rounded bg-gradient" style="background-color: #e9ecef">
        <form method="GET">
            {% csrf_token %}
            <h2 class="text-center">Поиск</h2>
            {{ filter.form.fullname|as_crispy_field }}
            {{ filter.form.birthday|as_crispy_field }}
            {{ filter.form.phone|as_crispy_field }}
            <hr>
            <div class="d-grid mb-3"><button class="btn btn-success" type="submit">Найти</button></div>
        </form>
</div>
<br><hr>
<div class="text-center">
    {% if applicants.count == applicant_count %}
        <p class="h1">Список заявителей</p>
        <h3>Всего заявителей: {{filter.qs|length}}</h3>
    {% else %}
        <p class="h1">Результат поиска</p>
        <h3>Найдено: {{filter.qs|length}}</h3>
    {% endif %}
</div>
<br>
{% for applicant in applicants %}
    <div class="row mb-4 border rounded bg-gradient" style="background-color: #e9ecef">
        <p class="display-6"> Заявитель: ID {{applicant.id}}</p>
        <hr>
        <p><b>Фамилия:</b> {{applicant.surname}}</p>
        <p><b>Имя:</b> {{applicant.name}}</p>

            <p class="d-grid">
                <a class="btn btn-success" href="{% url 'app112:get_applicant' applicant.pk %}">
                    Подробнее...
                </a>
            </p>

    </div>
{% endfor %}
{% endblock %}