{% extends 'app112/base.html' %}
<!-- 4. Вывести список всех происшествий, а также назнач. служб в виде подсписка, если они отсутствуют,то сообщить
 (ofr, if-else, empty)-->
<!-- 7. б)Создать шаблон для детал отображ данных происшествий -->
<!-- 10. Изменить шаблон списка обращений -->

{% block content %}
<div align="center">
    <h2>Поиск</h2>
        <form method="GET">
            {% csrf_token %}
            {{ filter.form.as_p }}
            <button type="submit">Найти</button>
        </form>
    <hr>
    {% if filter.qs.count > 1 %}<h1>Список обращений</h1>{% else %}<h1>Результат поиска</h1>{% endif %}
    <h3>Всего обращений: {{filter.qs|length}}</h3>
    {% for appeal in filter.qs %}
        <div>
            <hr>
            <h3>Номер обращения: {{appeal.number}}</h3>
            <p><b>Тип происшествия: </b> {{ appeal.incidents }} </p>
            <p><b>Дата:</b> {{appeal.date|date:"d.m.Y"}}</p>
            <p><b>Время:</b> {{appeal.date|time}}</p>
            <p><b>С момента создания прошло:</b> {{appeal.date|timesince}}</p>
            <p><b>Статус:</b> {{appeal.status}}</p>
            <p><b>Не звонить:</b> {{appeal.id_inc.dontCall|yesno}}</p>
            <p><b>Список служб:</b>
                {% if appeal.service.all %} {{appeal.service.all|join:", "|upper}} {% else %} ОТСУТСТВУЮТ {% endif %}
            </p>
            <p><a href="{% url 'app112:edit_appeal' appeal.id %}">Редактировать</a></p>
        </div>
    {% endfor %}
    </div>
{% endblock %}