{% extends 'app112/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center border rounded ">
    <h1>{{title}}</h1>
    <form action="{% url 'app112:create_applicant' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                {{ form.surname|as_crispy_field }}
            </div>
            <div class="col">
                {{ form.name|as_crispy_field }}
            </div>
        </div>

        {{ form.patronymic|as_crispy_field }}
        <hr>
        <div class="row">
            <div class="col"> {{ form.birthday|as_crispy_field }} </div>

        </div>
        <hr>
        <div class="row">
            <div class="col"> {{ form.phone|as_crispy_field }} </div>
            <div class="col"> {{ form.photo|as_crispy_field }} </div>
        </div>
        <hr>
            {{ form.descr_state_health|as_crispy_field }}
        <div class="d-grid"> <button class="btn btn-primary btn-lg" type="submit">Создать</button> </div>
    </form>
</div>
{% endblock %}