{% extends 'app112/base.html' %}
<!-- 4. Вывести список всех происшествий, а также назнач. служб в виде подсписка, если они отсутствуют,то сообщить
 (ofr, if-else, empty)-->
<!-- 7. б)Создать шаблон для детал отображ данных происшествий -->
<!-- 10. Изменить шаблон списка обращений -->

{% block content %}
<div align="center">
    <h1>Список экстренных служб</h1>
        <div>
            <p><b>Наименование службы:</b> {{service.title}} </p>
            <p><b>Код службы: </b> {{service.service_code}} </p>
            <p><b>Дата:</b> {{service.phone}}</p>
            <a href="{% url 'app112:edit_service' service.pk %}"> Редактировать...</a>
        </div>
    </div>
{% endblock %}